# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environment
.venv/
venv/
env/
ENV/

# PyCharm
.idea/
*.iml

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db
